@page "/courses/{subjectCourseId:guid}"
@using Itmo.Dev.Asap.Frontend.Presentation.Markup.SubjectCourses.Components
@using Itmo.Dev.Asap.Frontend.Application.Abstractions.SubjectCourses
@using Itmo.Dev.Asap.Frontend.Presentation.Components.Display
@inject ISubjectCourseProvider SubjectCourseProvider

<MudStack Style="height: 100%">

    <SubjectCourseBreadcrumbComponent SubjectCourse="_subjectCourse"/>

    <SubjectCourseInfoComponent SubjectCourse="_subjectCourse"/>

    <MudStack Row="true" Style="flex-grow: 1; min-height: 0">

        <SubjectCourseContentComponent
            SubjectCourse="_subjectCourse"
            Display="_displayController"/>

        <DisplayComponent
            Provider="_displayController">

            <NoContent>
                <div style="width: 100%; height: 100%"></div>
            </NoContent>

        </DisplayComponent>

    </MudStack>

</MudStack>


@code {

    private readonly DisplayContentController _displayController = new DisplayContentController();

    private ISubjectCourse? _subjectCourse;

    [Parameter]
    public Guid SubjectCourseId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (SubjectCourseId.Equals(default))
            return;

        _subjectCourse = await SubjectCourseProvider.LoadAsync(SubjectCourseId, default);
    }

}